@model Harissa.Data.Data.PageSettings
@using Harissa.Data.HelperClass
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("TopNavi")
@await Html.PartialAsync("PageSettingsTopNavi")



<form asp-action="IframeIndexPage">
    <div class="row bt-5">
        <div class="col-12">
            <h5>Header video</h5>
            <hr />
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <iframe class="embed-responsive" style="min-height: 350px;" src="https://www.youtube.com/embed/@Model.IframeVideo"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IframeVideo" class="control-label"></label>
                <input asp-for="IframeVideo" class="form-control" />
                <span asp-validation-for="IframeVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IframeTitle" class="control-label"></label>
                <input asp-for="IframeTitle" class="form-control" />
                <span asp-validation-for="IframeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IframeText" class="control-label"></label>
                <textarea asp-for="IframeText" rows="4" class="form-control"></textarea>
                <span asp-validation-for="IframeText" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 text-right">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


<form asp-action="HeaderTextEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="col-12">
            <h5 class="mt-5">Header text</h5>
            <hr />
        </div>
        <div class="col-md-3">
            <label asp-for="HeaderText" class="col-form-label"></label>
        </div>
        <div class="col-md-9">
            <input asp-for="HeaderText" class="form-control" />
        </div>
        <div class="col-12 text-right">
            <input type="submit" value="Create" class="btn btn-primary mt-1" />
        </div>
    </div>
</form>


<div class="row">
    <div class="col-12">
        <h5 class="mt-5">Default img / Page logo</h5>
        <hr />
    </div>
    @*NoPicture*@
    <div class="col-lg-6 col-md-6 mt-2 mb-2">
        <div class="card shadow h-100" style="min-height:396px;">
            <div class="card-header bg-white">
                <h6>Background when no picture</h6>
            </div>
            <div class="card-body" @*id="NoPicture"*@>
                <form asp-action="Index" enctype="multipart/form-data" class="h-100 w-100">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.NoPicture" />
                    <input type="hidden" asp-for="@Model.NoPicture" />
                    <div class="form-group h-75">
                        @{
                            if (Model != null)
                            {
                                string getimg = new CloudAccess().GetImg(@Model.NoPicture);
                                @:<img src="@getimg" class="img-fluid img-thumbnail imgPreview" />
                            }
                            else
                            {
                                <label asp-for="@Model.NoPicture" class="control-label">no image saved</label>
                            }
                        }
                    </div>
                    <div class="form-group h-25">
                        <div class="custom-file">
                            <input type="file" asp-for="@Model.NoPictureNewFile" class="custom-file-input newMediaItem" id="customFilePic">
                            <label class="custom-file-label" for="customFilePic">Choose file</label>
                        </div>
                        <span asp-validation-for="@Model.NoPictureNewFile" class="text-danger"></span>
                        <input type="submit" value="Save" class="btn btn-primary btn-sm mt-1 float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Logo-->
    <div class="col-lg-6 col-md-6 mt-2 mb-2">
        <div class="card shadow h-100" style="min-height:396px;">
            <div class="card-header bg-white">
                <h6>Edit Logo</h6>
            </div>
            <div class="card-body d-flex align-items-end">
                <form asp-action="EditLogo" asp-controller="PageSettings" enctype="multipart/form-data" class="h-100 w-100">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Logo" />
                    <div class="form-group h-75">
                        @{
                            if (Model != null)
                            {
                                @*<label class="control-label">@ps.NoPicture</label>*@
                                string getimg = new CloudAccess().GetImg(@Model.Logo);
                                @:<img src="@getimg" class="img-fluid img-thumbnail imgPreview" />
                            }
                            else
                            {
                                <label asp-for="@Model.Logo" class="control-label">no image saved</label>
                            }
                        }

                    </div>
                    <div class="form-group h-25">
                        <div class="custom-file">
                            <input type="file" asp-for="@Model.LogoNewFile" class="custom-file-input newMediaItem" id="customFileLogo">
                            <label class="custom-file-label" for="customFileLogo">Choose file</label>
                        </div>
                        <span asp-validation-for="@Model.LogoNewFile" class="text-danger"></span>
                        <input type="submit" value="Save" class="btn btn-primary btn-sm mt-1 float-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Head background*@
<div class="col-12 mt-4">
    <h4>Header background</h4>
    <hr />
</div>
@await Html.PartialAsync("AddShowEditImgCollection", new ViewDataDictionary(ViewData) { { "Action", "AddImgCollectionHead" }, { "Gallery", Model.HeadImgs.Select(s => s.HeadMediaItem).ToList() },{ "Type","Head" } })

Footer background
<div class="col-12 mt-4">
    <h4>Footer background</h4>
    <hr />
</div>
@await Html.PartialAsync("AddShowEditImgCollection", new ViewDataDictionary(ViewData) { { "Action", "AddImgCollectionFooter" }, { "Gallery", Model.FooterImgs.Select(s => s.FooterImgItem).ToList() },{ "Type","Footer" } })

<script src="~/js/photoPreview.js"></script>
<script src="~/js/multipleInput.js"></script>
<script src="~/js/removeImg.js"></script>