@model Harissa.Data.Data.Concert
@using Harissa.Data.HelperClass


@await Html.PartialAsync("TopNavi")
<div class="row">
    <div class="col-12 text-right">
        <div class="row mb-4">
            <div class="col-6 text-left">
                <h5><i class="bi bi-plus-circle m-2" style="font-size: 1.5rem; color:black;"></i>Create</h5>
            </div>
            <div class="col-6 text-right">
                <a href="#" id="hideCreate"><i class="bi bi-arrows-expand m-2" style="font-size: 1.0rem; color:black;"></i></a>
            </div>
        </div>
    </div>
</div>
@*CREATE*@
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row align-items-end">
        <div class="col-md-4 formCreate">



            <div class="form-group">
                @{
                    string getimg = new CloudAccess().GetImg(null);
                }
                <img src="@getimg" id="imgPreview" class="w-75 rounded mb-3 img-thumbnail" />
                <input asp-for="FormFileItem" class="form-control newMediaItem" />
                <span asp-validation-for="FormFileItem" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4  formCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                @*Opis doschowania...*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4  formCreate">
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12  formCreate">
            <div class="form-group text-right">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>
@*List*@
<div class="row">
    <div class="col-12 text-left">
        <h5>Lista koncertów</h5>
        <hr />
    </div>

    @foreach (var item in ViewBag.ConcertList)
    {
        <div class="col-sm-3 mb-5">
            <div class="card h-100 w-100 shadow">
                @{
                    string getCloudimg = new CloudAccess().GetImg(item.MediaItem);
                }
                <img src="@getCloudimg" class="card-img-top" />
                <div class="card-body">
                    <p class="card-text">@item.Name</p>
                    <p class="card-text">@item.Date</p>
                    <p class="card-text">@item.Address</p>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Link</p>
                    <p class="card-text">@item.Price</p>
                    <hr />
                    <div class="row">
                        <div class="col-12 text-center">
                            <a asp-action="Edit" asp-route-id="@item.ConcertID"><i class="bi bi-gear m-3" style="font-size: 1rem; color:black;"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ConcertID"><i class="bi bi-x-circle m-3" style="font-size: 1rem; color:black;"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<script>
    //create
    $(".formCreate").hide();
    $("#createButton").on("click", function (e) {
        e.preventDefault();
        $(".formCreate").slideDown();
    });
    $("#hideCreate").on("click", function () {
        $(".formCreate").slideToggle();
    });
    //delete
    //$(".deleteButton").on("click", function (e) {
    //    e.preventDefault();    
    //    let data = $(this).data("id");
    //    console.log("data =" + data);
    //let rezult = confirm("delete item?");
    //    if (rezult == true) {
            
    //        $.post("/Concerts/DeleteJS", { id: data }, function () {
    //            location.reload(true);
    //        });
            
    //}
    //});


</script>

<script src="~/js/photoPreview.js"></script>


