@using Harissa.Data.HelperClass

<form asp-action="@ViewData["Action"]" asp-controller="PageSettings" method="post" enctype="multipart/form-data" class="h-100 w-100">
    <div class="row">
            <div class="col-12">
                <div class="row">
                    @if (ViewData["Gallery"] != null)
                    {
                        @foreach (var MediaItem in ViewData["Gallery"] as List<string>)
                        {
                            <div class="col-md-3 m-2 text-center shadow-sm">
                                @*<img src="@(new CloudAccess().GetImg(MediaItem))" class="h-100" style="max-height:150px;" />*@
                                <img src="@(new CloudAccess().GetImg(MediaItem))" class="img-fluid" />
                                <!-- dodac akcje c#-->
                                <a asp-action="DeleteImg" class="removeButton" data-type="@ViewData["Type"]" data-id="@MediaItem"><i class="fas fa-trash m-4" style="font-size: 1rem; color:black;"></i></a>
                            </div>
                        }
                     }
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Add photos <i class="fas fa-plus-circle" style="font-size:1.5rem; color:black;"></i></label>
                                <div class="custom-file my-3">
                                    <input type="file" multiple name="imgCollection" class="custom-file-input filesInput">
           
                                        <label class="custom-file-label">Choose file</label>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        <div class="col-12 text-right mt-1">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>

    </div>
</form>