@model IEnumerable<Harissa.Data.Data.MusicLink>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkToAlbum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicPlatform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkToAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicPlatform.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Music.IFrame)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MusicLinkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MusicLinkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MusicLinkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
