@model Harissa.Data.Data.Music
@using Harissa.Data.Data
@using Harissa.Data.HelperClass

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Music</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                @{ string img = new CloudAccess().GetImg(null);}
                <img src="@img" class="imgPreview img-thumbnail" />
                <label asp-for="NewCover" class="control-label"></label>
                <input asp-for="NewCover" type="file" class="form-control" />
                <span asp-validation-for="NewCover" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IFrame" class="control-label"></label>
                <input asp-for="IFrame" class="form-control" />
                <span asp-validation-for="IFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" min="2000" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
        </div>

        <hr />

        <div class="col-12 mt-4">
            @{
                string getimg;
            }
            @foreach (var item in @ViewBag.MusicPlatfomrs as List<MusicPlatform>)
            {
                <input type="hidden" name="LinkToAlbum[]" value="@item.MusicPlatformID" />
                <div class="form-row mx-2">
                    <div class="col-2 d-flex align-items-center">
                        @{
                            getimg = new CloudAccess().GetImg(item.Icon);
                        }
                        <img src="@getimg" class="img-fluid" style="max-width:40px;"  /><span class="m-lg-3">@item.Name</span>
                    </div>
                    <div class="col-10">
                        @*<label class="control-label">@item.Name</label>*@
                        <input name="LinkToAlbum[]" class="form-control" />
                        <span asp-validation-for="MusicLinks.FirstOrDefault().LinkToAlbum" class="text-danger"></span>
                    </div>
                </div>
            }
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>

<script src="~/js/photoPreview.js"></script>