@model Harissa.Data.Data.MusicCreate
@using Harissa.Data.Data
@using Harissa.Data.HelperClass

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("TopNavi")

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row align-items-start">

        <div class="col-md-6">
            <div class="form-group">
                @{ string img = new CloudAccess().GetImg(null);}
                <img src="@img" class="imgPreview img-thumbnail" />
                @*<input asp-for="NewCover" type="file" class="form-control-file mt-2" />*@
                <div class="custom-file mt-3">
                    <input type="file" asp-for="NewCover" class="custom-file-input newMediaItem" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>


                <span asp-validation-for="NewCover" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="IFrame" class="control-label"></label>
                <input asp-for="IFrame" class="form-control" />
                <span asp-validation-for="IFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPublication" class="control-label"></label>
                <input asp-for="DateOfPublication" min="2000" class="form-control" />
                <span asp-validation-for="DateOfPublication" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12"><hr /></div>

        <div class="col-12 mt-4">
            @{
                string getimg;
            }
            @foreach (var item in @ViewBag.MusicPlatfomrs as List<MusicPlatform>)
            {
                <input type="hidden" name="LinkToAlbum[]" value="@item.MusicPlatformID" />
                <div class="form-row mt-4">
                    <div class="col-md-2 d-flex align-items-center">
                        @{
                            getimg = new CloudAccess().GetImg(item.Icon);
                        }
                        <img src="@getimg" class="img-fluid my-2" style="max-width:30px;" />
                        <span class="m-lg-3 ml-2">@item.Name</span>
                    </div>
                    <div class="col-md-10 d-flex align-items-center">
                        <input name="LinkToAlbum[]" class="form-control" />
                        <span asp-validation-for="MusicLinks.FirstOrDefault().LinkToAlbum" class="text-danger"></span> @*!!!*@
                    </div>
                </div>
            }
            <hr />
            <div class="form-group text-right">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            </div>
        </div>

    </div>
</form>

<script src="~/js/photoPreview.js"></script>