@model IEnumerable<Harissa.Data.Data.Concert>

<p>
    <a asp-action="Create">Create New</a>
</p>
                @*@Html.DisplayNameFor(model => model.Date)
                @Html.DisplayNameFor(model => model.Name)
                @Html.DisplayNameFor(model => model.Address)
                @Html.DisplayNameFor(model => model.Description)
                @Html.DisplayNameFor(model => model.Price)
                @Html.DisplayNameFor(model => model.Link)*@
@foreach (var item in Model) {
                @*@Html.DisplayFor(modelItem => item.Date)
                @Html.DisplayFor(modelItem => item.Name)
                @Html.DisplayFor(modelItem => item.Address)
                @Html.DisplayFor(modelItem => item.Description)
                @Html.DisplayFor(modelItem => item.Price)
                @Html.DisplayFor(modelItem => item.Link)*@
                @*<a asp-action="Edit" asp-route-id="@item.ConcertsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConcertsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConcertsID">Delete</a>*@


<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">@item.Date</p>
        <p class="card-text">@item.Name</p>
        <p class="card-text">@item.Address</p>
        <p class="card-text">@item.Description</p>
        <p class="card-text">@item.Link</p>
        <p class="card-text">@item.Price</p>
    </div>
</div>


}





