@using Harissa.Data.Data
@using Harissa.Data.HelperClass

<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Harissa / oficjalna strona zespołu / @ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Oficjalna strona zespołu Harissa. Informacje o koncertach, akutlaności, muzyka i teledyski zespołu Harissa" />
    <meta name="author" content="Krzysztof Franczyk" />
    <meta name="keywords" content="Harissa, Tarnow, Rock Band, tarnowski, zespol rockowy, zespol, metal, polska muzyka">

    <link rel="canonical" href="http://www.harissa.com.pl" />
    <meta property="og:title" content="Harissa - oficjalna strona zespołu">
    <meta property="og:site_name" content="www.harissa.com.pl">
    <meta property="og:url" content="www.harissa.com.pl">
    <meta property="og:description" content="Informacje o koncertach, aktualności, muzyka i teledyski zespołu Harissa">
    <meta property="og:type" content="music.musician">
    <meta property="og:image" content="https://res.cloudinary.com/harissa/image/upload/v1623060582/MetaImage/harissaPage_ddfhfi.jpg">


    @*<link rel="icon" type="image/x-icon" href="~/theme/assets/img/favicon.ico" />*@
    <!-- Font Awesome icons (free version) -->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/theme/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body id="page-top">


    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="position: fixed; top: 0; right: 0; left: 0; z-index: 50;" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" asp-action="Index" asp-controller="Home"><img src="~/theme/assets/img/navbar-logo.svg" alt="" style="height: 50px;" /></a>
            <a href="#" data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars ml-1"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Concert" asp-action="Index">Koncerty</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Music" asp-action="Index">Muzyka</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Video" asp-action="Index">Teledyski</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Band" asp-action="Index">Zespół</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-controller="Contact" asp-action="Index">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->

    <header class="masthead" style="background-image: url('@( string.IsNullOrEmpty(ViewBag.Head)? "" : new CloudAccess().GetImg(ViewBag.Head))');">
        <div class="container">
            <div class="masthead-heading text-uppercase" style="position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;">@ViewBag.HeaderText</div>
        </div>
    </header>
    @if (ViewContext.RouteData.Values["Controller"].ToString() == "Home")
    {
        <section class="page-section" id="mainBody">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-1 mb-lg-5">
                    <div class="col-xl-8 col-lg-7 pr-4">
                        <iframe class="embed-responsive" style="min-height: 350px;" src="https://www.youtube.com/embed/@Model.IframeVideo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text-left pl-4 text-justify text-md-left">
                            <h4 class="text-white text-center text-md-left">@Model.IframeTitle</h4>
                            <p class="text-white-50 mb-0 text-justify text-md-left">
                                @Model.IframeText
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <section class="page-section" id="mainBody1">
        <div class="container  featured-text">
            <h2 class="text-white text-left pl-4 featured-text-head-left">@ViewBag.Page</h2>
            @RenderBody()  @*RenderBody RenderBody RenderBody RenderBody RenderBody RenderBody RenderBody*@
        </div>
    </section>

    <!-- Footer-->
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            @*<div class="col-8" style="background-color: #64a19d; min-height:0.5rem;"></div>*@
            <div class="col-8 featured-text-top"></div>
        </div>
    </div>

    <footer class="footer py-4 footer-background" style="background-position: center; background-image: url('@(string.IsNullOrEmpty(ViewBag.Footer)? "" :  new CloudAccess().GetImg(ViewBag.Footer))')">
        <div class="container">
            <div class="row text-white-50">
                @foreach (var itemContact in ViewBag.Contact as List<Contact>)
                {
                    <div class="col-6 align-lr">
                        <address>
                            <strong>@itemContact.Name</strong><br />
                            @itemContact.Email<br />
                            @itemContact.Phone
                        </address>
                    </div>
                }
            </div>
            <div class="row align-items-center flex-row-reverse flex-md-row">
                <div class="col-lg-3 text-lg-left text-center">
                    <a asp-controller="Home" asp-action="Privacy">Prywatność</a>
                    @*<a asp-controller="Home" asp-action="Www"></a>*@
                </div>
                <div class="col-lg-6 my-3 d-flex justify-content-center">
                    @{
                        foreach (var item in ViewBag.SocialMedia as List<SocialMedia>)
                        {
                            <a title="@item.Name" href="@item.Link"><img src="@(new CloudAccess().GetImg(item.Icon))" class="m-1" style="height:35px;"></a>

                        }
                    }
                </div>
                <div class="col-lg-3 text-lg-right text-center text-white-50">Copyright © Harissa @DateTime.Now.Year</div>
            </div>

        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/theme/assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/theme/assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/theme/js/scripts.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>














