@model Harissa.Data.Data.Contact


@await Html.PartialAsync("TopNavi")
<div class="row">
    @foreach (var item in ViewBag.ContactList)
    {

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 text-left">
                            <h5 class="card-title">Menager / Koncert</h5>
                        </div>
                        <div class="col-4 text-right">
                            <a asp-action="DeleteSocialMedias" asp-route-id=""><i class="bi bi-x-circle" style="font-size: 1rem; color:black;"></i></a>
                            <a href="#" class="editDialog" data-id="" data-icon="" data-name="" data-link=""><i class="bi bi-gear" style="font-size: 1rem; color:black;"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text">@item.Email</p>
                            <p class="card-text">@item.Phone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><h5>Create Contact</h5></div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Email" class="control-label"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Phone" class="control-label"></label>
                        <input asp-for="@Model.Phone" class="form-control" />
                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Name" class="control-label"></label>
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 disabledElement" style="opacity:0.2">
        <div class="card">
            <div class="card-header"><h5>Edit Contact</h5></div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ContactID" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




