@model Harissa.Data.Data.News
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("TopNavi")


<div class="row">
    <div class="col-sm-6">
        <img src="@ViewBag.Img" class="img-fluid rounded" />
    </div>
    <div class="col-sm-6 text-left">
        <small>@Html.DisplayNameFor(model => model.DateOfPublication): @Html.DisplayFor(model => model.DateOfPublication)</small>
        <h5> @Html.DisplayNameFor(model => model.Title)</h5>
        <p>@Html.DisplayFor(model => model.Title)</p>
        <h5>@Html.DisplayNameFor(model => model.Message)</h5>
        <p>@Html.DisplayFor(model => model.Message)</p>
    </div>
    <div class="col-12 mt-3">
        <form asp-action="Delete">
            <input type="hidden" asp-for="NewsID" />
            <button type="submit" value="Delete" class="btn btn-outline-danger">Delete</button>
        </form>
    </div>
</div>


