@model IEnumerable<Harissa.Data.Data.News>
@using Harissa.Data.HelperClass
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("TopNavi")
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-4 shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        @{
                            string getimg = new CloudAccess().GetImg(item.MediaItem);
                        }
                        <img src="@getimg" class="img-fluid rounded" />
                    </div>
                    <div class="col-md-8 col-9">
                        <small>@item.DateOfPublication</small>
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <hr />
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>
                    </div>
                    <div class="col-md-1 mt-md-0 mt-4 text-center">
                        <a asp-action="Edit" asp-route-id="@item.NewsID"><i class="fas fa-tools m-md-2 m-5" style="font-size: 1.5rem; color:black;"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.NewsID"><i class="fas fa-trash m-md-2 m-5" style="font-size: 1.5rem; color:black;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



